.swiper-container .swiper-wrapper .swiper-slide.one {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide.one .top {
  position: absolute;
  top: 0px;
  left: 0px;
}
.swiper-container .swiper-wrapper .swiper-slide.one .center {
  position: absolute;
  top: 50%;
  left: 0%;
}
.swiper-container .swiper-wrapper .swiper-slide.one span {
  font-size: 14vw;
  color: #2B333F;
  position: absolute;
  top: 60%;
  right: 10%;
}
.swiper-container .swiper-wrapper .swiper-slide.one .footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.swiper-container .swiper-wrapper .swiper-slide.two {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/ren1.png") no-repeat;
  background-size: cover;
}
.swiper-container .swiper-wrapper .swiper-slide.two span:nth-of-type(1) {
  font-size: 5vw;
  color: #2B333F;
  position: absolute;
  left: 5%;
  top: 8%;
}
.swiper-container .swiper-wrapper .swiper-slide.two img:nth-of-type(1) {
  position: absolute;
  top: 1%;
  right: 5%;
}
.swiper-container .swiper-wrapper .swiper-slide.two img:nth-of-type(2) {
  width: 110%;
  height: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide.two img:nth-of-type(3) {
  position: absolute;
  left: 4%;
  bottom: 10%;
}
.swiper-container .swiper-wrapper .swiper-slide.two span:nth-of-type(2) {
  font-size: 5vw;
  color: #2B333F;
  position: absolute;
  right: 5%;
  bottom: 8%;
}
.swiper-container .swiper-wrapper .swiper-slide.third {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/ren1.png") no-repeat;
  background-size: 100% 110%;
}
.swiper-container .swiper-wrapper .swiper-slide.third span:nth-of-type(1) {
  font-size: 5vw;
  color: #2B333F;
  position: absolute;
  left: 5%;
  top: 5%;
}
.swiper-container .swiper-wrapper .swiper-slide.third span:nth-of-type(2) {
  font-size: 5vw;
  color: #2B333F;
  position: absolute;
  right: 8%;
  bottom: 12%;
}
.swiper-container .swiper-wrapper .swiper-slide.third img:nth-of-type(1) {
  width: 100%;
  height: 102%;
  position: absolute;
  left: 0%;
  top: 0%;
}
.swiper-container .swiper-wrapper .swiper-slide.third img:nth-of-type(2) {
  position: absolute;
  left: 4%;
  top: 60%;
}
.swiper-container .swiper-wrapper .swiper-slide.fourth {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/ren1.png") no-repeat;
  background-size: 100% 110%;
  text-align: center;
}
.swiper-container .swiper-wrapper .swiper-slide.fourth span:nth-of-type(1) {
  font-size: 6vw;
  color: #2B333F;
  width: 60%;
  text-align: center;
  position: absolute;
  left: 25%;
  top: 5%;
}
.swiper-container .swiper-wrapper .swiper-slide.fourth img:nth-of-type(1) {
  position: absolute;
  top: 7%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide.fourth img:nth-of-type(2) {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 51%;
  height: 60%;
}
.swiper-container .swiper-wrapper .swiper-slide.fourth img:nth-of-type(3) {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 52%;
  height: 60%;
}
.swiper-container .swiper-wrapper .swiper-slide.fifth {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/ren1.png") no-repeat;
  background-size: 100% 110%;
  text-align: center;
}
.swiper-container .swiper-wrapper .swiper-slide.fifth span:nth-of-type(1) {
  font-size: 5vw;
  color: #2B333F;
  width: 50%;
  text-align: right;
  position: absolute;
  right: 14%;
  top: 5%;
}
.swiper-container .swiper-wrapper .swiper-slide.fifth img:nth-of-type(1) {
  position: absolute;
  left: 0%;
  top: 5%;
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide.fifth img:nth-of-type(2) {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 50%;
}
#music {
  position: fixed;
  right: 5%;
  top: 2%;
  z-index: 1111;
  width: 10%;
  animation: run 3s infinite linear;
}
@keyframes run {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes run {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */